{#
 Este es el template UNIFICADO.
  - 'qr_data' es la variable que pasamos desde el servicio PHP.
  - 'generador-qr-container' es la CLASE que nuestro JS buscará.
#}
<div class="uk-flex uk-flex-center uk-flex-wrap">
  {# Ya no usamos ID. Usamos una clase y un atributo 'data-qr-text' #}
  {# El JS leerá 'data-qr-text' para generar el QR #}
  <div class="generador-qr-container" data-qr-text="{{ qr_data }}"></div>
</div>


